/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/*COLORES*/


$paleBlue: hsl(225, 100%, 94%);
$paleBlueOp: hsl(223, 78%, 96%);
$brightBlue: hsl(245, 75%, 52%);

$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);


/*MEDIA QUERYS*/

@mixin for-size($size) {
    @if $size==mobile-portrait-up {
        @media (max-width: 375px) {
            @content;
        }
    }
    @else if $size==big-desktop-up {
        @media (min-width: 376px) {
            @content;
        }
    }
};